<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{{url_for('about')}}">about</a>
    <p>dsmaosoaodksoadk</p>
    <p>dsmaosoaodksoadk</p>
    <p>dsmaosoaodksoDOUHOIAHODOHWAIHNJDHNWSHJDAOLDOAODIADIAIJDP:IADJSKDLSAKNDLKSAHDULKSAJDOIAWSDLKSadk</p>
    <p>dsmaosoaodkALSJDLSALKDLSKDLKSlkdska:DKOWJOS::::::DDDsoadk</p>
    <p>dsmaosoaodksoadk</p>
    <p>dsmaosoaodksoadk</p>
    <p>dsmaosoaodksoadk</p>
    <p>dsmaosoaodksodS"JADPOSAPOKDAPOKSDPKASDAPSDKADKadk</p>
    <p>dsmaosoaodksoadk</p>
    <p>dsmaosoaodksoadk</p>
    <hr>
    <button ><a href="{{url_for('user',username='Patryk')}}">ADMIN LOGIN</a></button>
    <button ><a href="{{url_for('user',username='Guest')}}">GUEST LOGIN</a></button>
</body>
</html>